body {
  background-color: #3498db;
}

#container1
{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn nav"
    "mn mn mn nav"
    "ft ft ft nav";
}

#container2{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas: 
  "hd hd hd hd hd"
  "mn mn mn mn mn"
  "mn mn mn mn mn"
  "ft ft ft ft ft"
  ;
}


#container3{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas: 
  "hd hd hd hd"
  "mn mn mn mn"
  "mn mn mn mn"
  "ft ft ft ft"
  ;
}

#logo{
  height: 150px;
  max-width: 150px;
}

header {
  display: flex;
  grid-area: hd;
  background-color: blueviolet;
  flex-direction: row;
  border-radius: 17px;
  margin-bottom: 10px;

}

main {
  padding: 15px;
  grid-area: mn;
  background-color: bisque;
  border-radius: 17px;
  margin-right: 10px;
  margin-bottom: 10px;
}

nav {
  padding: 15px;
  display: flex;
  grid-area: nav;
  background-color: brown;
  border-radius: 17px;

}

footer {
  padding-left: 15px;
  padding-top: 50px;
  grid-area: ft;
  background-color: yellowgreen;
  border-radius: 17px;
  margin-right: 10px;
}

/* 3498db */

section{
  display: flex;
  border-radius: 25px;
  height: 45%;
  width: 18%;
  background-color: red;
  margin: 10px;
  justify-content: center;
  align-content: center;
}

#animalhead{
display: flex;
flex-wrap: wrap;
align-content: space-evenly;
justify-content: center;
}

.cards{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 2%;
}