body {
  background-color: #3498db;
}

#container1,
#container2,
#container3 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn nav"
    "mn mn mn nav"
    "ft ft ft nav";
}

#logo{
  height: 150px;
  max-width: 150px;
}

header {
  display: flex;
  grid-area: hd;
  background-color: blueviolet;
  flex-direction: row;
  border-radius: 17px;
  margin-bottom: 10px;

}

main {
  padding: 15px;
  grid-area: mn;
  background-color: bisque;
  border-radius: 17px;
  margin-right: 10px;
  margin-bottom: 10px;
}

nav {
  padding: 15px;
  display: flex;
  grid-area: nav;
  background-color: brown;
  border-radius: 17px;

}

footer {
  padding-left: 15px;
  padding-top: 50px;
  grid-area: ft;
  background-color: yellowgreen;
  border-radius: 17px;
  margin-right: 10px;
}

h1 {
  

}
